body {
    max-width: 750px;
    margin: 0 auto;
    height: 1200px;
    background-color: #F2F4F7;
}

// 当屏幕大小超过750px的时候，html字体大小就不变化了
@media screen and (min-width: 750px) {
    html {
        font-size: 37.5px !important;
    }
}

a {
    text-decoration: none;
    color: #707070;
}

.header {
    height: 2.266667rem;
    border-bottom: 1px solid #EAEAEA;
    font-size: .933333rem;
    color: #1C1C1C;
    background-color: #fff;
    text-align: center;
    line-height: 2.266667rem;
}

.wrap {
    background-color: #fff;
    overflow: hidden;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding: 1.2rem 0 1.6rem 0;

    [class^="item"] {
        display: flex;
        width: 33.33%;
        flex-direction: column;
        align-items: center;

        img {
            width: 3.76rem;
            height: 3.76rem;
        }

        span {
            font-size: .666667rem;
        }

        // 选择前面三个用-n+3
        &:nth-child(-n+3) {
            margin-bottom: 1.653333rem;
        }
    }
}

// go区域
.go {
    margin: 0 .4rem 1.146667rem;
}

.content {
    padding: 1.2rem .64rem 1.013333rem;
    margin-top: .266667rem;
    background-color: #fff;

    .con-hd {
        display: flex;
        justify-content: space-between;
        height: 1.013333rem;
        line-height: 1.013333rem;
        margin-bottom: .906667rem;

        h4 {
            margin: 0;
            color: #333333;
            font-size: .746667rem;

            .icon {
                display: inline-block;
                width: 1.013333rem;
                height: 1.013333rem;
                vertical-align: middle;
            }
        }

        .more {
            font-size: .746667rem;
            color: #999999;
        }
    }
}

.get_job_focus {
    position: relative;

    .swiper-container {
        // width: 100%;
        height: 100%;
        // 根据需求把宽度定位 540px
        width: 14.4rem;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        // 竖向显示
        flex-direction: column;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        transition: 300ms;
        // 其余的兄弟是 0.8
        transform: scale(0.8);
        opacity: 0.4;

        a {
            width: 9.013333rem;
            height: 10.026667rem;

            img {
                width: 100%;
                height: 100%;
            }
        }

        p {
            width: 9.013333rem;
            font-size: 0.666667rem;
            margin-top: 0.64rem;
            color: #333;
        }
    }

    // 当前选中的 slide   中间那个
    .swiper-slide-active,
    .swiper-slide-duplicate-active {
        transform: scale(1);
        z-index: 999;
        opacity: 1;
    }

    .swiper-button-next,
    .swiper-button-prev {
        outline: none;

        &:after {
            font-size: 1.066667rem;
            color: #333;
        }
    }
}

.study_con {
    padding-bottom: 3.733333rem;
}

// 学习模块的轮播图
.study {
    .study_fo {
        padding: 0.266667rem;
    }

    .swiper-slide {
        font-size: 18px;
        background: #fff;
        width: 7.733333rem;
        height: 9.066667rem;
        background-color: #fff;
        border-radius: 0.266667rem;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);

        h5 {
            font-size: 0.693333rem;
            margin: 0.533333rem 0;
            font-weight: 400;
            padding: 0 0.266667rem;
        }

        p {
            font-size: 0.693333rem;
            color: #ff4400;
            padding: 0 0.266667rem;
        }
    }
}

.footer {
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    background-color: pink;
    width: 100%;
    height: 2.933333rem;
    background-color: #fff;
    padding: .533333rem;
    border-top: 1px solid #ccc;
    z-index: 9999;

    .item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon {
            width: 1.066667rem;
            height: 1.04rem;
            margin-bottom: .293333rem;
        }
    }
}